h3 {
  color: brown;
  text-align: center;
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
  background-color: lightgray;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: serif;
  font-size: medium;
}